<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/userapp.css" type="text/css">
<link rel="stylesheet" href="/static/css/common.css" type="text/css">
<script type="text/javascript" src="/static/jquery3.2.1.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/userapp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
<style>
</style>
<title>角色管理</title>
</head>
<body>
	<div class="panel_base">
		<div>
			<br>
			<table>
			{% for role in roles %}
			<tr>
				<td>{{role.name}}</td>
				<td><a href="/userapp/del_role?id={{role.id}}">删除</a></td>
				<td><a href="/userapp/modify_role?id={{role.id}}">修改</a></td>
				<td><a href="/userapp/assign_role_limit?id={{role.id}}">权限</a></td>
				<td><a href="/userapp/assign_role_sys?id={{role.id}}">子系统</a></td>
			</tr>
			{% endfor %}
			</table>
			<a href="/userapp/add_role">添加角色</a>
		</div>
	</div>
</body>
</html>
