<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/userapp.css" type="text/css">
<link rel="stylesheet" href="/static/css/common.css" type="text/css">
<script type="text/javascript" src="/static/jquery3.2.1.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/userapp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
<style>
</style>
<title>分组管理</title>
</head>
<body>
	<div class="panel_base">
		<table>
		{% for group in groups %}
		<tr>
			<td>{{group.name}}</td>
			<td><a href="/userapp/del_group?gid={{group.id}}">删除</a></td>
			<td><a href="/userapp/modify_group?gid={{group.id}}">修改</a></td>
			<td><a href="/userapp/assign_group_role?gid={{group.id}}">角色</a></td>
		</tr>
		{% endfor %}
		</table>
		<a href="/userapp/add_group">添加组</a>
	</div>
</body>
</html>
