<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/userapp.css" type="text/css">
<link rel="stylesheet" href="/static/css/common.css" type="text/css">
<script type="text/javascript" src="/static/jquery3.2.1.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/userapp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
<style>
#main
{
	position:absolute;
	width: 50%;
	text-align: right;
}
#back
{
	position: relative;
	right: 10em;
}
</style>
<title>分组管理</title>
</head>
<body>
	<div class="panel_base">
		<div id="main">
			<form action="/userapp/add_group" method='POST'>
				<dl>
					<dt><span>组名:</span><input type="text" name="name" value=""/></dt>
					<dt><span>父组ID:</span><input type="text" name="pgid" value=""/></dt>
					<dt><a id="back" href="/userapp/group_mgr">返回</a><input type='submit' value="保存"/></dt>
				</dl>
			</form>
		</div>
	</div>
</body>
</html>
