<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/userapp.css" type="text/css">
<link rel="stylesheet" href="/static/css/common.css" type="text/css">
<script type="text/javascript" src="/static/jquery3.2.1.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/userapp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
<style>
#main
{
	position:absolute;
	width: 50%;
	text-align: right;
}
#back
{
	position: relative;
	right: 10em;
}
</style>
<title>子系统权限管理</title>
</head>
<body>
	<div class="panel_base">
		{% include "components/form_v.html" %}
		<div id="main">
		<br>
		<table>
		{% for limit in limits %}
		<tr>
			<td>{{limit.id}}</td>
			<td>{{limit.limit}}</td>
			<td>{{limit.limit_name}}</td>
			<td>{{limit.sys_id}}</td>
			<td><a href="/userapp/del_sys_limit?id={{limit.id}}">删除</a></td>
			<td><a href="/userapp/modify_sys_limit?id={{limit.id}}">修改</a></td>
		</tr>
		{% endfor %}
		</table>
		<a href="/userapp/add_sys_limit">添加系统权限</a>
		</div>
	</div>
</body>
</html>
